<div class="content" style="padding-bottom:50px">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
            <div class="page-header">
                <h1 class="" style="font-size: 24px; font-weight:300"><i class="fa-fw fa fa-envelope-open"></i> Notifications <span style="font-size: 16px;">&gt; View Realtime Notifications</span></h1>
            </div>
        </div>
    </div>
    <div class="row show-scroll" *ngFor="let container of rabbitMessages">
        <div class="col-lg-2">
            <h5>Message Routing Key:</h5>
        </div>
        <div class="col-lg-10">
            <h6 style="margin-top:12px;margin-bottom:0">{{container.routingKey}}</h6>
        </div>
        <div class="col-lg-12">
            <table class="table table-condensed">
                <tbody>
                    <tr [ngClass]="{
                        'success':rabbitMessage.severity === 'success',
                        'info':rabbitMessage.severity === 'info',
                        'message-warning':rabbitMessage.severity === 'warning',
                        'danger':rabbitMessage.severity === 'error'
                      }" *ngFor="let rabbitMessage of container.rabbitMessages">  
                      <td>{{rabbitMessage.message}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>  
  </div>
  