<header id="header" class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header">
        <a class="navbar-brand" routerLink="/" routerLinkActive="active">
            <img style="width:170px;height:50px" title="Juniper Networks" src="/jedi/assets/images/juniper-networks-white.png" />
        </a>
    </div>
    <!--<nav class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li>
                <a href="#">Navbar Item 13</a>
            </li>
            <li>
                <a href="#">Navbar Item2</a>
            </li>
            <li>
                <a href="#">Navbar Item 3</a>
            </li>
        </ul>
        <ul class="nav navbar-nav pull-right">
            <li class="dropdown">
                <a href="#" id="nbAcctDD" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-user"></i>Username<i class="icon-sort-down"></i></a>
                <ul class="dropdown-menu pull-right">
                    <li><a href="#">Log Out</a></li>
                </ul>
            </li>
        </ul>
    </nav>-->
</header>