<div class="content" style="padding-bottom:50px">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
            <div class="page-header">
                <h1 class="" style="font-size: 24px; font-weight:300"><i class="fa-fw fa fa-tachometer"></i> Dashboard <span style="font-size: 16px;">&gt; Dashboard</span></h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
                    <thead>
                        <tr>
                        <th>ID</th>
                        <th>Play Name(s)</th>
                        <th>Start Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let result of results">
                            <td><a routerLink="/results/{{result._id.$oid}}" routerLinkActive="active">{{ result._id.$oid }}</a></td>
                            <td>
                                <div *ngFor="let play of result.plays">
                                    {{ play.play.name }} 
                                </div>
                            </td>
                            <!-- <td>{{ ((result.plays[0].play.starttime * 1000) | date:'fullDate') || "" }}</td> -->
                            <td>{{ (result.plays[0]) ? (result.plays[0].play.starttime * 1000 | date:'fullDate') : "" }}</td>
                        </tr>
                    </tbody>
            </table>
        </div>   
    </div>
</div>
