  <div id="sidebar">
      <div id="sidebar-content">
          <ul jnprMenu class="nav list-group">
              <li>
                  <a class="list-group-item" routerLink="/dashboard" routerLinkActive="active"><i class="fa fa-lg fa-tachometer"></i>Dashboard</a>
              </li>
              <li>
                <a class="list-group-item" routerLink="/automation/trigger-automation" routerLinkActive="active"><i class="fa fa-lg fa-fast-forward"></i>Automation</a>
              </li>
              <li>
                <a class="list-group-item" routerLink="/automation/trigger-automation" routerLinkActive="active"><i class="fa fa-lg fa-envelope-open"></i>Notifications</a>
              </li>
          </ul>
      </div>
  </div>
